.masculine {
  color: hsla(240, 100%, 50%, 1);
}

.neutral {
  color: hsla(120, 100%, 50%, 1);
}

.feminine {
  color: hsla(0, 100%, 50%, 1);
}

.chapter-page-title,
.chapter-rendered-content>h1,
.chapter-rendered-content>h2,
.chapter-rendered-content>h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.3;
}

.chapter-page-title,
.chapter-rendered-content>h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: var(--fg1);
}

.chapter-rendered-content>h2 {
  font-size: 1.75rem;
  color: var(--fg1);
}

.chapter-rendered-content>h3 {
  font-size: 1.35rem;
  color: var(--fg1);
}

.chapter-content {
  max-width: 1400px;
}

.ql-size-small {
  font-size: 0.75em;
}

.ql-size-large {
  font-size: 1.5em;